/* body {
  padding-top: 15rem;
  padding-bottom: 16rem;
  background-color: #fff;
} */

html, body {
  min-height: 100%;
}

/* background: rgba(0, 0, 0, 0.76); */

a {
  text-decoration: none !important;
}

.cd-tl {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}

.inp-sub {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}

.inp-sub-2 {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}

a.inp-sub-2 {
  color: #fff;
}

h1, h2, h3 {
  font-family: 'Kaushan Script', cursive;
}

.pd-tp {
  padding-top: 30px;
}

.pd-bp {
  padding-top: 30px;
}

.myform {
  margin-top: 30%;
  margin-bottom: 20%;
  margin-left: 18%;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #494949;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 1.1rem;
  outline: 0;
  max-width: 500px;
}

/* .tx-tfm {
  text-transform: uppercase;
} */

.mybtn {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 18px;
  border-radius: 50px;
  background-color: #7C7A7A;
  border: none;
  width: 150px;
}

.mybtn:hover {
  background-color: #818181;
}

.login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}

.hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

form .error {
  color: #ff0000;
}

#second {
  display: none;
}

#nome {
  background: none;
  color: white;
  border: 0px 0px 0px 0px solid #7C7A7A;
}

#confirmpassword {
  background: none;
  color: white;
  border: 0px 0px 0px 0px solid #7C7A7A;
}

#email {
  background: none;
  color: white;
  border: 0px 0px 0px 0px solid #7C7A7A;
}

#password {
  background: none;
  color: white;
  border: 0px 0px 0px 0px solid #7C7A7A;
}

#signup {
  color: white;
}

#forgot {
  color: white;
}

